{
    "printWidth": 160,
    "tabWidth": 4,
    "useTabs": false,
    "overrides": [
        {
            "files": "*.html",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
